@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Pretendard";
    src: url("../public/fonts/Pretendard-Light.subset.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "Pretendard";
    src: url("../public/fonts/Pretendard-Regular.subset.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Pretendard";
    src: url("../public/fonts/Pretendard-Medium.subset.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "Pretendard";
    src: url("../public/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "Pretendard";
    src: url("../public/fonts/Pretendard-Bold.subset.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }

  html {
    font-family: "Pretendard", sans-serif;
  }
  :root {
    --safe-area-top: 0px;
    --safe-area-bottom: 0px;
    --safe-area-left: 0px;
    --safe-area-right: 0px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #c6c6cf;
    border-radius: 999rem;
    height: 57px;
    max-height: 57px;
  }
  .scrollbar::-webkit-scrollbar {
    background-color: inherit;
    width: 3px;
  }

  .scrollbar::-webkit-resizer {
    background-color: inherit;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE 및 Edge */
  scrollbar-width: none; /* Firefox */
}
